<div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0 mt-20">    
    <div class="w-full bg-white rounded-lg shadow-2xl md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-purple-950 md:text-2xl">
                Edit Your Profile
            </h1>
            <form [formGroup]="updateForm" (ngSubmit)="updateProfile()" class="space-y-4 md:space-y-6" action="#">
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Display Name</label>
                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="example123" formControlName="displayName">
                    <p *ngIf="updateForm.get('displayName')?.invalid && updateForm.get('displayName')?.dirty" class="text-xs text-rose-600"> *Display Name must be at least 6 characters long </p>
                </div>
                <div class="flex flex-col">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    <div class="flex justify-around gap-4">
                        <input type="email" name="email" id="email" class="bg-gray-300 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="example@gmail.com" disabled [value]="email">
                        <div class="flex flex-col justify-center items-center" *ngIf="verified">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="lightgreen" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                            </svg>
                            Verified                              
                        </div>
                        <div class="flex flex-col justify-center items-center" *ngIf="!verified">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                              </svg>
                              
                            Unverified                              
                        </div>
                    </div>
                    <div *ngIf="!verified">
                        <p class="text-sm font-light text-gray-500">
                            Please verify your email <a (click)="sendVerificationEmail()" class="hover:cursor-pointer font-medium text-primary-600 hover:underline">Send email?</a>
                            &nbsp; 
                            <span *ngIf="verificationSent" class="text-sm text-purple-600">Email sent</span>
                        </p>
                        
                    </div>
                </div>
                <div>
                    <label for="password1" class="block mb-2 text-sm font-medium text-gray-900">Change password</label>
                    <input type="password" name="password1" id="password1" placeholder="•••••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="password1">
                    <p *ngIf="updateForm.get('password1')?.invalid && updateForm.get('password1')?.dirty" class="text-xs text-rose-600"> *Password must be at least 6 characters long. </p>                    
                </div>
                <div>
                    <label for="password2" class="block mb-2 text-sm font-medium text-gray-900">Confirm new password</label>
                    <input type="password" name="password2" id="password2" placeholder="•••••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" formControlName="password2" (input)="checkPassword()">
                    <p *ngIf="passError" class="text-xs text-rose-600"> *passwords dont match </p>
                </div>

                <button type="submit" class="hover:cursor-pointer w-full text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" [disabled]="updateForm.invalid || passError">
                    <span [hidden]="!this.isSaving">
                        <div role="status">
                            <svg aria-hidden="true" class="inline w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-cyan-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </span>
                    <span [hidden]="this.isSaving">Save Changes</span>
                </button>               
            </form>
            <p *ngIf="updateSuccess" class="text-fuchsia-500">Changes Saved</p>
        </div>
    </div>
</div>