<!-- todo Color Scheme
  #5271FF - blue
  #FF66C4 - pink
  #CB6CE6 - purple 
-->
<!--! NAV BAR -->
<nav class="bg-gradient-to-l from-cyan-300 to-purple-500" #nav>
  <div class="max-w-none mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Logo -->
      <div class="flex items-center flex-shrink-0">
        <a routerLink="/dashboard" class="flex items-center text-white font-extrabold text-xl font-Noto">
          <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff"
            style="width: 40px">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <title>moon</title>
              <g id="moon">
                <circle cx="13.5" cy="13.5" r="2.5" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></circle>
                <line x1="52" y1="39" x2="52" y2="41" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <line x1="52" y1="45" x2="52" y2="47" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <line x1="48" y1="43" x2="50" y2="43" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <line x1="54" y1="43" x2="56" y2="43" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <circle cx="50.984" cy="52.603" r="1.069"></circle>
                <path d="M29.716,25.3A17.98,17.98,0,0,0,9.892,29.69a2.983,2.983,0,0,1-3.3,4.942A18,18,0,1,0,41,42"
                  style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></path>
                <path d="M39.831,35.6A18.048,18.048,0,0,0,33.5,27.376" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></path>
                <path d="M33.223,44.322a5,5,0,1,0-1.156,6.627" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></path>
                <path d="M33.735,48.612A5,5,0,0,0,34,47" style="
                    fill: #ffffff;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></path>
                <circle cx="16" cy="48" r="2" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></circle>
                <circle cx="21" cy="32" r="3" style="fill: none"></circle>
                <path d="M24,32a3,3,0,1,0-3,3" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></path>
                <rect x="30" y="7" width="3" height="30" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></rect>
                <polyline points="43 24.391 43 28 58 28 58 13 50.5 13" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></polyline>
                <polyline points="33.496 24 50 24 50 9 33.496 9" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></polyline>
                <line x1="58" y1="18" x2="50" y2="18" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <line x1="58" y1="23" x2="50" y2="23" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <line x1="50" y1="14" x2="33" y2="14" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
                <line x1="50" y1="19" x2="33" y2="19" style="
                    fill: none;
                    stroke: #ffffff;
                    stroke-linejoin: round;
                    stroke-width: 2px;
                  "></line>
              </g>
            </g>
          </svg>
          &nbsp;
          <div>Moolala</div>
        </a>
      </div>

      <!-- Menu Items -->
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4" *ngIf="this.signedIn">
          <a routerLink="/dashboard"
            class="text-black hover:bg-blue-300 hover:text-gray-800 px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
          <a routerLink="/portfolios"
            class="text-black hover:bg-blue-300 hover:text-gray-800 px-3 py-2 rounded-md text-base font-medium">Portfolios</a>
          <a routerLink="/dca"
            class="text-black hover:bg-blue-300 hover:text-gray-800 px-3 py-2 rounded-md text-base font-medium">DCA</a>
          <a routerLink="/fire"
            class="text-black hover:bg-blue-300 hover:text-gray-800 px-3 py-2 rounded-md text-base font-medium">FIRE</a>
        </div>
      </div>

      <!-- Mobile Menu -->
      <div class="md:hidden">
        <button type="button"
          class="text-black hover:bg-cyan-300 hover:text-white block px-2 py-2 rounded-md text-base font-medium"
          (click)="this.showMenu = !this.showMenu">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>

      <!-- Login and Sign Up Buttons -->
      <div class="hidden md:flex items-center">
        <button *ngIf="!this.signedIn" type="button"
          class="text-purple-950 hover:bg-purple-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium flex flex-col items-center"
          (click)="getLogin()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>
          Log in
        </button>

        <button *ngIf="!this.signedIn" type="button"
          class="ml-3 text-purple-950 hover:bg-purple-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium flex flex-col items-center"
          (click)="getStarted()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
          </svg>
          Sign up
        </button>

        <button *ngIf="this.signedIn" type="button"
          class="ml-3 text-purple-950 hover:bg-purple-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium flex flex-col items-center"
          (click)="getProfile()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
          <span>
            {{ username }}
          </span>
        </button>

        <button *ngIf="this.signedIn" type="button"
          class="ml-3 text-purple-950 hover:bg-purple-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium flex flex-col items-center"
          (click)="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
          </svg>
          <span> Sign Out </span>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu Dropdown -->
  <div class="md:hidden" id="mobile-menu" [hidden]="this.showMenu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a routerLink="/dashboard"
        class="text-purple-950 hover:bg-violet-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        (click)="this.showMenu = !this.showMenu">Dashboard</a>
      <a routerLink="/portfolios"
        class="text-purple-950 hover:bg-violet-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        (click)="this.showMenu = !this.showMenu">Portfolios</a>
      <a routerLink="/dca"
        class="text-purple-950 hover:bg-violet-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        (click)="this.showMenu = !this.showMenu">DCA</a>
      <a routerLink="/fire"
        class="text-purple-950 hover:bg-violet-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        (click)="this.showMenu = !this.showMenu">FIRE</a>
      <button *ngIf="!this.signedIn" type="button"
        class="text-purple-950 hover:bg-violet-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        (click)="getLogin()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
        </svg>
        Log in
      </button>
      <button *ngIf="!this.signedIn" type="button"
        class="ml-3 text-purple-950 hover:bg-violet-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        (click)="getStarted()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
        </svg>
        Sign up
      </button>
      <button *ngIf="this.signedIn" type="button"
        class="ml-3 text-purple-950 hover:bg-purple-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        (click)="getProfile()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
        <span>
          {{ username }}
        </span>
      </button>
      <button *ngIf="this.signedIn" type="button" (click)="logout()"
        class="ml-3 text-purple-950 hover:bg-violet-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
        </svg>
        Sign Out
      </button>
    </div>
  </div>
</nav>

<!--! Component Outlet -->
<div>
  <router-outlet></router-outlet>
</div>
<br>
<footer class="flex justify-between px-5 py-1 bg-gradient-to-l from-cyan-300 to-purple-500">
  <div class="text-white">© 2023 Moolala. All rights not reserved. TFIP IBF.</div>
  <a class="text-purple-600 flex hover:cursor-pointer" (click)="getFeedback(nav)" *ngIf="signedIn">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
    </svg>&nbsp;
    <h1 class="text-purple-600">Give us your feedback</h1>
  </a>
</footer>

<div>
<!-- Feedback popup -->
<section *ngIf="showFeedback" class="bg-cyan-100 absolute top-0 left-0 h-screen w-full bg-opacity-75">
  <a class="hover:cursor-pointer" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6 absolute top-5 right-5 text-purple-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </a>
  <app-feedback (closePopUp)="close()"></app-feedback>
</section>
<!-- Profile popup -->
<section *ngIf="showProfile" class="bg-cyan-100 absolute top-0 left-0 h-screen w-full bg-opacity-75">
  <a class="hover:cursor-pointer" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6 absolute top-5 right-5 text-purple-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </a>
  <app-profile (closePopUp)="close()" [username]="username" [email]="email"></app-profile>
</section>

<!-- Login popup -->
<section *ngIf="showLogin" class="bg-pink-100 absolute top-0 left-0 h-screen w-full bg-opacity-75">
  <a class="hover:cursor-pointer" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6 absolute top-5 right-5 text-purple-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </a>
  <app-login (switchToSignUp)="getStarted()" (closePopUp)="close()"></app-login>
</section>

<!-- Signup popup -->
<section *ngIf="showSignUp" class="bg-pink-100 absolute top-0 left-0 h-screen w-full bg-opacity-75">
  <a class="hover:cursor-pointer" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6 absolute top-5 right-5 text-purple-600">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </a>
  <app-newuserform (switchToLogin)="getLogin()" (closePopUp)="close()"></app-newuserform>
</section>
</div>