<div
  class="mx-auto p-2 max-w-sm sm:mx-auto sm:p-2 sm:max-w-xl md:mx-auto md:p-2 md:max-w-2xl lg:mx-auto lg:p-2 lg:max-w-5xl xl:mx-auto xl:p-2 xl:max-w-none xl:w-10/12"
  #main>
  <div *ngIf="this.showChart" class="text-center">
    <app-tradingview-widget [widgetConfig]="widgetConfig"></app-tradingview-widget>
    <a (click)="this.showChart=!this.showChart"
      class="text-sm font-medium text-primary-600 hover:underline hover:cursor-pointer">Close chart</a>
    <br><br>
  </div>
  <!--! PORTFOLIO DATA -->
  <div *ngIf="portfolio.tickers.length > 0; else notickers"
    class="flex justify-center flex-wrap gap-4 sm:justify-around">
    <!-- Portfolioname -->
    <div class="flex flex-col">
      <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Portfolio:</h1>
      <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold">
        {{ portfolio.portfolioName }}
      </h1>
    </div>
    <!-- NetValue -->
    <div class="flex flex-col">
      <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Net Value:</h1>
      <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">
        {{ portfolio.netValue | currency }}
      </h1>
    </div>
    <!-- Total Gain -->
    <div class="flex flex-col">
      <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Total Gain:</h1>
      <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-semibold"
        [style.color]="portfolio.totalGain > 0 ? '#84CC16' : '#DC2626'">
        {{ portfolio.totalGain > 0 ? "+" : "" }}
        {{ portfolio.totalGain | number : "1.2-2" }}
        ({{ portfolio.totalGainPercent | percent }})
      </h1>
    </div>
    <!-- Expand/Collapse all & Refresh prices-->
    <div class="flex gap-10">
      <div class="flex flex-col items-center">
        <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Expand/Collapse all</h1>
        <button type="button" class="flex justify-start text-purple-600" (click)="allCollasped = !allCollasped">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 lg:w-8 lg:h-8 xl:w-10 xl:h-10 hover:border hover:border-purple-300 hover:border-spacing-4 hover:rounded-lg">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
          </svg>
        </button>
      </div>
      <div class="flex flex-col items-center">
        <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Refresh prices</h1>
        <button type="button" class="flex justify-start text-purple-600" (click)="refreshPrices()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 lg:w-8 lg:h-8 xl:w-10 xl:h-10 hover:border hover:border-purple-300 hover:border-spacing-4 hover:rounded-lg">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>
        </button>
      </div>
      <div class="flex flex-col items-center">
        <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Export CSV</h1>
        <button type="button" class="flex justify-start text-purple-600" (click)="exportCSV()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 lg:w-8 lg:h-8 xl:w-10 xl:h-10 hover:border hover:border-purple-300 hover:border-spacing-4 hover:rounded-lg">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!--! Empty Portfolio template -->
  <ng-template #notickers>
    <div class="flex justify-center flex-wrap gap-4 sm:justify-around">
      <div class="flex flex-col">
        <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Portfolio:</h1>
        <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold">
          {{ portfolio.portfolioName }}
        </h1>
      </div>

      <div class="flex flex-col">
        <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Net Value:</h1>
        <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">-</h1>
      </div>

      <div class="flex flex-col">
        <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Total Gain:</h1>
        <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-semibold">-</h1>
      </div>

      <div class="flex gap-10">
        <div class="flex flex-col items-center">
          <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Expand/Collapse all</h1>
          <button type="button" class="flex justify-start text-purple-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 lg:w-8 lg:h-8 xl:w-10 xl:h-10">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
            </svg>
          </button>
        </div>
        <div class="flex flex-col items-center">
          <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Refresh prices</h1>
          <button type="button" class="flex justify-start text-purple-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 lg:w-8 lg:h-8 xl:w-10 xl:h-10">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </button>
        </div>
        <div class="flex flex-col items-center">
          <h1 class="text-sm sm:text-base lg:text-lg xl:text-xl">Export CSV</h1>
          <button type="button" class="flex justify-start text-purple-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 lg:w-8 lg:h-8 xl:w-10 xl:h-10">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <br>
  <hr><br>

  <!--! Ticker Header -->
  <div class="grid grid-cols-9 items-center sm:grid-cols-7">
    <div class="col-span-2 text-xs font-semibold p-1 text-center sm:col-span-1 sm:text-base lg:text-lg">Symbol</div>
    <div class="col-span-2 text-xs font-semibold p-1 text-center sm:col-span-1 sm:text-base lg:text-lg">Shares</div>
    <div class="col-span-2 text-xs font-semibold p-1 text-center sm:col-span-1 sm:text-base lg:text-lg">Current Price
    </div>
    <div class="col-span-2 text-xs font-semibold p-1 text-center sm:col-span-1 sm:text-base lg:text-lg">Avg cost</div>
    <div class="hidden text-xs font-semibold p-1 text-center sm:col-span-1 sm:block sm:text-base lg:text-lg">Market
      Value</div>
    <div class="hidden text-xs font-semibold p-1 text-center sm:col-span-1 sm:block sm:text-base lg:text-lg">Total Gain
    </div>
    <div class="col-span-1 text-xs font-semibold p-1 text-center sm:col-span-1 sm:block sm:text-base lg:text-lg">Delete
      Symbol</div>
  </div>
  <!-- ! Tickers -->
  <app-ticker *ngFor="let ticker of portfolio.tickers; let idx = index" [ticker]="ticker" [idx]="idx"
    [isCollapsed]="allCollasped" (showTradingViewChart)="showTradingViewChart(ticker.ticker)"></app-ticker>
  <!-- ! Add ticker -->
  <div class="block rounded-lg bg-gradient-to-br from-purple-300 to-cyan-300 p-1 font-normal h-11 lg:h-12">
    <form [formGroup]="addTickerForm" (ngSubmit)="addTicker()">
      <div class="flex justify-around items-center gap-2">
        <input class="h-9 text-purple-900 rounded-lg flex-grow text-center text-xs md:h-9 md:text-lg lg:h-10"
          type="text" formControlName="newTicker" placeholder="Add new ticker" />
        <button type="submit" [disabled]="addTickerForm.invalid" class="mx-5 text-2xl md:text-3xl"
          [style.color]="addTickerForm.invalid ? '#86A1F8' : '#7E22CE' ">
          <fa-icon [icon]="faCirclePlus"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<br>
<hr><br>
<!-- Section: Design Block -->
<div class="p-10">
  <h2 class="text-base sm:text-xl lg:text-3xl font-bold mx-2">Latest related articles</h2>
  <div class="grid grid-cols-2 gap-5 justify-center">
    <a class="col-span-2 lg:col-span-1 p-4 w-12/12 max-w-4xl bg-white border-purple-200 rounded-lg shadow-sm shadow-cyan-100 hover:shadow-purple-400 hover:cursor-pointer m-2"
      *ngFor="let newsitem of news">
      <div class="flex flex-col">
        <app-news [news]="newsitem"></app-news>
      </div>
    </a>
  </div>
</div>