<!--! Ticker information -->
<div class="grid grid-cols-9 border border-purple-200 rounded-lg shadow-sm shadow-cyan-100 p-2 mb-1 hover:shadow-md items-center
sm:grid-cols-7">
    <!-- Ticker -->
    <div class="pl-3 col-span-2 text-xs text-start font-bold text-purple-600 cursor-pointer 
    sm:col-span-1 sm:text-sm lg:text-xl 2xl:text-2xl">
      <a (click)="dropdown()">
        <fa-icon [icon]="faCaret"></fa-icon>&nbsp; 
      </a>
      <a class="hover:underline" (click)="showChart()">
        {{ ticker.ticker | uppercase }}
      </a>
    </div>
    
    <!-- Total shares -->
    <div class="col-span-2 text-xs text-center 
    sm:col-span-1 sm:text-sm lg:text-xl 2xl:text-2xl">
    <span class="sm:hidden">{{ ticker.totalShares | number : "1.0-2" }}</span>
    <span class="hidden sm:inline">{{ ticker.totalShares | number : "1.2-2" }}</span>
    </div>
    
    <!-- Current Price -->
    <div class="col-span-2 text-xs text-center 
    sm:col-span-1 sm:text-sm lg:text-xl 2xl:text-2xl">
      {{ ticker.currentPrice | number : "1.2-2" }}
    </div>
    
    <!-- Avg cost -->
    <div class="col-span-2 text-xs text-center 
    sm:col-span-1 sm:text-sm lg:text-xl 2xl:text-2xl">
      {{ ticker.averageCostPerShare | number : "1.2-2" }}
    </div>
    
    <!-- Market Value -->
    <div class="hidden text-xs text-center
    sm:block sm:col-span-1 sm:text-sm lg:text-xl 2xl:text-2xl ">
      {{ ticker.marketValue | number : "1.2-2" }}
    </div>
    
    <!-- Total Gain -->
    <div class="hidden text-xs text-center
    sm:block sm:col-span-1 sm:text-sm lg:text-xl 2xl:text-2xl " [style.color]="ticker.totalGain>0?'#2fc800':'#DC2626'">
      {{ ticker.totalGain > 0 ? '+' : '' }}
      {{ ticker.totalGain | number : "1.2-2" }}
      ({{ calculateTotalGainPercent() | percent }})
    </div>
    
    <!-- Delete Button -->
    <button
      class="col-span-1 text-xs text-center text-purple-200 hover:text-purple-600
      sm:text-sm lg:text-xl 2xl:text-2xl"
      type="button"
      (click)="deleteTicker()"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
</div>

<!--! Lot information -->
<div *ngIf="isCollapsed" class="block rounded-xl bg-gradient-to-b from-cyan-50 to-white p-2 border border-t-purple-300 border-x-cyan-300">
  <!-- Lot header -->
  <div class="grid grid-cols-7 gap-1 sm:grid-cols-11">
    <div class="col-start-2 text-center text-xs col-span-2 lg:text-lg">Date</div>
    <div class="text-center text-xs col-span-2 lg:text-lg">Shares</div>
    <div class="text-center text-xs col-span-2 lg:text-lg">Cost / Share</div>
    <div class="hidden text-center text-xs sm:block sm:col-span-2 lg:text-lg">Market Value</div>
    <div class="hidden text-center text-xs sm:block sm:col-span-2 lg:text-lg">Total Gain</div>
  </div>
  <!-- Lots -->
  <div>
    <app-lot [lots]="ticker.lots" [currentPrice]="ticker.currentPrice" [tickerIdx]="idx"></app-lot>
  </div>
</div>
